* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

header {
    display: inherit;
    margin-bottom: 30px;
}

header > button {
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background: blue;
}

.apple {
    background: green;
}