@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lilita+One&family=Sarabun&family=ZCOOL+XiaoWei&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background: black;
    color: white;
}

header {
    width: 100%;
    display: inherit;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: yellow; */
}

header > button {
    display: block;
    width: 200px;
    padding: 12px 16px;
    margin-bottom: 20px;
    background: green;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.08);
    background: orange;
    color: black;
}

header > .score {
    font-size: 26px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border-style: solid;
    background: rgb(247, 247, 100);
    margin-bottom: 50px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background: blue;
}

.apple {
    background: green;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer > span {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 400;
    font-size: 12px;
    color: white
}

footer > img {
    width: 20px;
    padding: 10px;
}

footer > span > a {
    text-decoration: none;
    
}